# .prettierrc or .prettierrc.yaml
trailingComma: "none"
tabWidth: 2
printWidth: 400
semi: false
singleQuote: true
bracketSpacing: true
arrowParens: "avoid"
vueIndentScriptAndStyle: true
proseWrap: "never"
useTabs: true
jsxBracketSameLine: false
